<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
          <span class="navbar-brand">
            <img src="assets/img/LOGGO.png" alt="Your Logo" style="width: 62%; height: auto; float: left; margin-left: auto;">
          </span> 
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="menu-block">
            <!-- main menu start-->
            <nav class="menu-holder">
                <ul class="main-menu">
                    <li class="menu-item "><a href="cases.html"></a><span>Home</span>
                    </li>
                    <li class="menu-item "><a href="cases.html"></a><span>Pages</span>
                        <!-- sub-menu start-->
                        
                        <!-- sub-menu end-->
                    </li>
                    <li class="menu-item"><a href="cases.html"><span>Projects</span></a></li>
                    <li class="menu-item"><a href="blog.html"><span>Blog</span></a></li>
                    <li class="menu-item menu-item--has-child active"><a href="javascript:void(0);"><span>Shop</span></a>
                        <!-- sub-menu start-->
                        <ul class="sub-menu">
                            <li><a href="catalog-page.html">Catalog page</a></li>
                            <li><a href="shop-product.html">Shop Product</a></li>
                            <li class="active"><a href="shopping-cart.html">Cart</a></li>
                            <li><a href="shopping-checkout.html">Checkout</a></li>
                            <li><a href="account.html">Account</a></li>
                        </ul>
                        <!-- sub-menu end-->
                    </li>
                    <li class="menu-item"><a href="contacts.html"><span>Contacts</span></a></li>
                    <li class="menu-item">
                        <!-- sub-menu start-->

                        <!-- sub-menu end-->
                    </li>
                </ul>
            </nav>
            <a class="button button--transparent" routerLink="signup" data-hover="Get In Touch"><span>Get In Touch</span></a>
            <!-- main menu end-->
        </div>
    </div>
</nav>
